.header {
    height: 17vh;
    background-image: url('/assets/img/header-1200+.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 0 -15px;
    animation-name: showdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .header {
        height: 35vh;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .header {
        height: 30vh;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .header {
        height: 45vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .header {
        height: 30vh;
    }
}