/*****************************************/

/* MAIN STYLES                           */

/*****************************************/
h2 {
  text-transform: uppercase;
}

.exchanger {
  border: 1px solid gray;
  padding: 10px;
  margin-top: 20px;
}

.navbar-brand {
  font-weight: bold;
}

.spacer-20 {
  padding-top: 20px;
}

.img-profile-wrapper {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 100%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  margin-bottom: -11px;
}

.img-profile-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lista-de-figurinhas{
  padding:20px;
  border-radius: 10px;
  height:25%; 
  overflow-y:auto; 
  border:1px solid gray;
  margin-bottom: 20px;
}

/*****************************************/

/* CHECKBOX CUSTOMIZADOS                 */

/*****************************************/

/* Customize the label (the container) */

.wrapper-card {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 55px;
  padding-left: 0px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid gray;
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 100%;
}

/* Hide the browser's default checkbox */

.wrapper-card input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6em;
  font-weight: bold;
}

/* On mouse-over, add a grey background color */

.wrapper-card:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.wrapper-card input:checked~.card-background {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.card-background:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.wrapper-card input:checked~.card-background:after {
  display: block;
}

/* Style the checkmark/indicator */

.wrapper-card .card-background:after {
  left: 18px;
  top: 40px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.title {
  text-transform: uppercase;
}

.mini-cards {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 45px;
  padding-left: 0px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid gray;
}

.mini-cards-wanted {
  background-color: gray;
}