@import "animations.css";
@import "fonts.css";
@import "header.css";
@import "cards.css";
/*****************************************/

/* MAIN STYLES                           */

/*****************************************/

/* TEMPLATE BASICS */

body {
  padding-top: 55px;
  padding-bottom: 75px;
  scroll-behavior: smooth;
}

.bg-dark{
  background-color: black !important;
}
h2 {
  margin-top: 15px;
  text-transform: uppercase;
  font-family: 'neosansmedium';
  font-size: 28px;
  text-align: center;
  color: #2196F3;
}

h2 .bigger {
  font-size: 40px;
  color: #b5bf00;
}

h3 {
  font-family: 'neosansmedium';
  text-transform: uppercase;
}

.gray {
  color: #b5bf00;
}


/* BOOTSTRAP OVERWRITE */

.navbar-brand {
  font-weight: bold;
}

.spacer-20 {
  padding-top: 20px;
}

/* HEADER  */

.img-profile-wrapper {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 100%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  margin-bottom: -11px;
}

.img-profile-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  text-transform: uppercase;
}

.panel-title {
  text-align: center;
  background-color: #b5bf00;
  color: white;
  font-size: 1.1em;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
  margin-bottom: 0;
  border: 1px solid #b5bf00;
  border-collapse: collapse
}

.panel-body {
  border: 1px solid #b5bf00;
  border-top: none;
  border-bottom: none;
  padding: 10px 20px;
  border-collapse: collapse
}

.panel-footer {
  background-color: #b5bf00;
  border-radius: 0 0 10px 10px;
  border: 1px solid #b5bf00;
  border-collapse: collapse;
  height: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #b5bf00;
  border-color: #b5bf00;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ffa200;
  border-color: #ffa200;
}

.footer {
  color: white;
}

.footer a {
  color: white;
}

#btn-trocar {
  position: fixed;
  bottom: 55px;
  width: 100%;
  margin-left: -15px;
  border-radius: 0;
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
  h2 {
    text-align: left;
  }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  
  #btn-trocar {
    position: relative;
    width: 100%;
    margin-left: 0;
    border-radius: 0.3rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  h2 {
    text-align: left;
  }
}